@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shizuru&display=swap');
*{
    padding: 0;
    margin:0;
}
body {
    padding: 0px;
    margin: 0px;
    
    font-family: 'Poppins', sans-serif;
}
.btns{
    color: white;
    padding: 10px 35px;
    border: none;
    background-color: deeppink;
    cursor: pointer;
}
h1 {
    font-size: 45px;
    width: 415px;
    padding-bottom: 15px;
    
}
h3 {
    font-size: 25px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    text-transform: capitalize;
}
span {
    color: deeppink;
    font-family: 'Shizuru', cursive;
}

.box {
    width: 100%;
    padding-top: 100px;
    height: 100%;
    overflow: hidden;
}


.container {
    width: 1140px;
    margin: auto;
    height: 100%;
    overflow: hidden;
}

.left-writing {
    width: 550px;
    float: left;
}
p {
    font-size: 15px;
    text-align: justify;
    color: #00000085;
    padding-bottom: 40px;
}
button.btns a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
button.btns:hover{
    color: white;
    background-color: black;
}
.rightpicture {
    width: 570px;
    height: 100%;
    float: right;
}
.rightpicture img {
    width: 570px;
    height: 100%;
}


.left-writing2 {
    width: 520px;
    float: right;
    margin-top: 50px;
    margin-left: 50px;
}

.rightpicture2 {
    width: 570px;
    height: 100%;
    float: left;
}
.rightpicture2 img {
    width: 560px;
    height: 100%;
}

